h1 {
	text-align: left;
}

#header {
	box-shadow: none;
}

@media (max-width: 320px) {
	#header #logo h3 {
		font-size: 1.25rem;
	}

	#body {
		padding-top: 80px;
	}
}

@media (min-width: 321px) and (max-width: 425px) {
	#header #logo h3 {
		font-size: 1.75rem;
	}

	#body {
		padding-top: 80px;
	}
}

.blog-header h1, .blog-header h2, .blog-header h3 {
	text-align: center;
}

html, body, button, input, select, textarea, .pure-g, .pure-g [class*="pure-u"] {
	font-family: 'Open Sans',sans-serif;
}

pre.language-mermaid {
	background: none !important;
	border: none !important;
}

pre.language-mermaid g.label {
	color: #000;
}

#header {
	top: 0; /* Force top so that the head renders properly in google cache */
}

#header #navbar {
	font-size: 0.9em;
}

#body #breadcrumbs span {
	padding: 0 1rem;
}

/* Do not match <code class="language-*"></code> tags */
code:not([class]) {
	background: #FFE5E5;
	font-size: inherit;
	padding: 5px;
}

@media (max-width: 800px) {
	body {
		position: static;
		font-size: 100%;
	}
}

@media (min-width: 801px) and (max-width: 1200px) {
	body {
		position: static;
		font-size: 125%;
	}
}

@media (min-width: 1201px) {
	body {
		position: static;
		font-size: 150%;
	}
}

.table-of-contents.toc  {
	display: block;
}
@media only all and (max-width: 59.938em) {
	.table-of-contents.toc {
		display: none;
	}
}

/* Fix display of chevron */
.table-of-contents .toclink:before {
	vertical-align: top;
}

.table-of-contents.toc {
	padding: 0;
}

.table-of-contents .toctitle {
	padding: 0.5em 2em 0.5em 2em;
	background: #000;
	color: #FFF;
}

.table-of-contents .tocbody {
	padding: 0em 2em 1em 2em;
}

.sb-slidebar .toctitle {
	background: #000;
}

tbc:before {
	content: "To be continued...";
}

tbc {
	background: yellow;
}

.biblatex .title {
	font-weight: bold;
}

.biblatex .in {
	font-style: italic;
}

.list-blog-header h1 {
	margin: 0;
}

kbd {
	border:1px solid gray;
	box-shadow:1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin:2px 3px;
	padding:1px 5px;
}
