h1 {
	text-align: left;
}

.blog-header h1, .blog-header h2 {
	text-align: center;
}

html, body, button, input, select, textarea, .pure-g, .pure-g [class*="pure-u"] {
	font-family: 'Open Sans',sans-serif;
}

pre.language-mermaid {
	background: none !important;
	border: none !important;
}

pre.language-mermaid g.label {
	color: #000;
}

#header #navbar {
	font-size: 0.9em;
}

#body #breadcrumbs span {
	padding: 0 1rem;
}

/* Do not match <code class="language-*"></code> tags */
code:not([class]) {
	background: #FFE5E5;
	font-size: inherit;
	padding: 5px;
}

@media (max-width: 800px) { body { font-size: 100%; } }
@media (min-width: 801px) and (max-width: 1200px) { body { font-size: 125%; } }
@media (min-width: 1201px) { body { font-size: 150%; } }