h1 {
	text-align: left;
}

.blog-header h1, .blog-header h2 {
	text-align: center;
}

body {
	font-family: 'Open Sans',sans-serif;
}

pre.language-mermaid {
	background: none !important;
	border: none !important;
}

pre.language-mermaid g.label {
	color: #000;
}

#body #breadcrumbs span {
	padding: 0 1rem;
}
