@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans',sans-serif;
	font-size: 21px;
	line-height: 1.75;
}

pre {
	font-size: 19px;
}

footer {
	border-top: 1px solid #ddd;
}

@media (min-width: 768px) {
	.frontpage .date {
		text-align: right;
	}
}

.emojione{
	font-size:inherit;
	height:3ex;
	width:3.1ex;
	min-height:20px;
	min-width:20px;
	display:inline-block;
	margin:-.2ex .15em .2ex;
	line-height:normal;
	vertical-align:middle
}

img.emojione{
	width:auto
}
