{% embed 'partials/base.html.twig' %}

	{% block content %}
		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}

		<div>
			{% include 'partials/article.html.twig' with {'blog':page.parent} %}
		</div>
	{% endblock %}

{% endembed %}
