{% embed 'partials/base.html.twig' %}

	{% block content %}
		<div class="blog-content-item grid pure-g-r">
			{% include 'partials/article.html.twig' with {'blog':page.parent} %}
		</div>
	{% endblock %}

{% endembed %}
