<footer id="footer">
    <div class="totop">
        <span><a href="#" id="toTop">↑</a></span>
    </div>
    <p>
        <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">
            <img alt="Creative Commons License" style="border-width:0; vertical-align: middle;" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
        </a>
        <span class="github"><a href="https://github.com/tomzx">@tomzx</a></span>
        <span class="linkedin"><a href="https://ca.linkedin.com/in/tomrochette">Tom Rochette</a></span>
        <span class="mastodon">🐘 <a rel="me" href="https://mastodon.social/@tomzx">@tomzx</a></span>
    </p>
</footer>
